{% extends 'base.html' %}
{% load static %}

{% block content  %}



<div class="container font-weight-bold p-3 mb-3" style="border: 1px solid #e91e63;">
    <img class="img-fluid rounded-circle" src="{% static 'images/user.png' %}" alt="" width="100px">
    <span>post in {{post.post_date|date:'d-m-Y'}}</span>
    <h3><a href="#" class="font-weight-bold text-dark">{{post.title}}</a></h3>
    <p>{{post.content}}</p>
</div>

<div>
    <h1 class="border-bottom">Comments</h1>

    {% for comment in comments %}
    <small class="font-weight-bold" style="color:#e91e63;">{{comment.name}} in
        {{comment.comment_date|date:'d-m-Y'}}</small>
    <P>{{comment.message}}</P>

    {% endfor %}

</div>





{% endblock content  %}